@charset "utf-8";
/* CSS Document */
.section-top {
  color: #FFF;
  padding: 40px 24px 10px 24px;
  background-color: #000;
}
.section-top h2 {
  line-height: 3.6rem;
}
.section-top__main-image img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
}
.section-top .slick-dots {
  bottom: 10px;
}
.section-top .slick-dots li button:before {
  color: #FFF;
  font-size: 10px;
}
@media(min-width: 1160px) {
  .section-top {
    padding-top: 110px;
  }
  .section-top h2 {
    font-size: 40px;
  }
}
.section-runner, .section-grip {
  background-color: #292929;
  padding: 60px 0;
  color: #FFF;
}
.section-grip {
  background-color: #000;
}
.section-runner__visual {
  margin: 0 auto 40px auto;
  width: 86%;
}
.section-runner__main-image, .section-grip__main-image {
  width: 100%;
  object-fit: cover;
  object-position: 40% 40%;
}
.section-grip__visual {
  margin-bottom: 40px;
}
.section-runner h2, .section-grip h2 {
  margin-bottom: 20px;
}
@media(min-width: 1160px) {
  .section-runner, .section-grip {
    margin: 0;
    padding: 0;
    display: flex;
    height: 830px;
  }
  .section-grip {
    flex-flow: row-reverse;
  }
  .section-runner__visual, .section-grip__visual {
    width: 50vw;
    margin: 0;
  }
  .section-runner__main-image, .section-grip__main-image {
    height: 100%;
  }
  .section-runner__description, .section-grip__description {
    background-color: #292929;
    text-align: left;
    padding: 300px 0 0 80px;
    width: 50vw;
  }
  .section-runner__description h2, .section-grip__description h2 {
    font-size: 5.0rem;
    margin-bottom: 50px;
  }
  .section-runner__description p, .section-grip__description p {
    font-size: 2.4rem;
    line-height: 3.6rem;
  }
}
.section-shop {
  background-color: #292929;
  color: #FFF;
  padding: 60px 24px;
}
.section-shop h2 {
  margin-bottom: 60px;
}
.section-shop__item-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1160px;
  margin: 0 auto;
}
.section-shop__item-list li {
  padding-bottom: 60px;
  width: 250px;
  margin: 0 auto;
}
.section-shop__item-list img {
  width: 178px;
  height: 178px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 500px;
  margin: 0 auto 40px;
}
.section-shop__item-list h3 {
  font-size: 2.4rem;
  margin-bottom: 24px;
}
.section-shop__item-list a {
  text-decoration: none;
  color: #FFF;
}
@media(min-width: 1160px) {
  .section-shop {
    background-color: #000;
    padding: 100px 0 140px 0;
  }
  .section-shop h2 {
    font-size: 4.0rem;
  }
}