@charset "utf-8";
/* CSS Document */
.main {
  background-color: #f6f8f9;
}
.section-top__image {
  height: 100vh;
  background-image: url("../images/top/top_image.jpg");
  background-position: center; 
  background-size: auto 120%;
  background-repeat: no-repeat;
}
.section-top__image-filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.30);
}
.section-top__image-message {
  color: #FFF;
  font-weight: 600;
  width: 100%;
}
.section-top__image-message h2 {
  padding-bottom: 20px;
  border-bottom: #FFF solid 2px;
  width: 90%;
  font-size: 3.2rem;
  margin: 0 auto 30px;
}
.section-news {
  background-color: #FFF;
  padding: 25px 24px;
  text-align: left;
}
.section-news h2 {
  display: none;
}
.section-news ol {
  list-style-type: none;
  margin-bottom: 8px;
}
.section-news ol li {
  display: none;
  color: #72ACFF;
}
.section-news ol li a{
  color: #72ACFF;
  text-decoration: none;
}
.section-news ol li:first-child {
  display: block;
}
.section-news__category {
  color: #333;
  font-weight: 600;
}
.section-news h3 {
  font-weight: 500;
}
.section-news ol li time {
  font-size: 1.3rem;
  font-style: italic;
}
.section-news__more-link a {
  text-decoration: none;
  color: #72ACFF;
}
@media (min-width: 960px) {
  .top-wrapper  {
    display: flex;
    max-width: 1160px;
    margin: 0 auto;
  }
  .section-top {
    flex: 6;
    height: 515px;
  }
  .section-top__image{
    height: 100%;
  }
  .section-top h2 {
    width: 60%;
  }
  .section-news {
    flex: 4;
    padding: 30px 40px;
  }
  .section-news h2 {
    display: block;
    padding-bottom: 40px;
    border-bottom: solid 2px #EEE;
    margin-bottom: 14px;
  }
  .section-news ol li{
    display: block;
    margin-bottom: 20px;
  }
  .section-news__category.new::after {
    content: " NEW";
    color: #F33;
  }
}
.section-services {
  padding: 40px 0 60px;
}
.section-services h2{
  margin-bottom: 40px;
}
.section-services ul {
  margin: 0 24px;
  list-style: none;
}
.section-services ul li {
  max-width: 480px; 
  margin: 0 auto;
  background-color: #FFF;
  margin-bottom: 40px;
  border-radius: 6px;
  text-align: left;
}
.section-services__picture {
  width: 100%;
  height: 154px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px 6px 0 0;
}
.section-services__title {
  padding: 10px 20px 5px;
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
}
.section-services__title h3 {
  display: inline;
  font-size: 1.6rem;
}
.section-services__description {
  padding: 0 20px 20px 20px;
}

.section-services__video {
  margin-top: 12px;
  width: 100%;
}
@media (min-width: 960px) {
  .section-services {
    padding: 60px 0 92px;
  }
  .section-services-content-wrapper {
    max-width: 1160px;
    margin: 0 auto;
  }
  .section-services ul {
    margin: 0 auto 67px;
    display: flex;
    justify-content: space-between;
  }
  .section-services ul li {
    flex: 1;
    margin: 0;
    background-color: #FFF;
    border-radius: 6px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .section-services ul li:first-child{
    margin-right: 40px;
  }
  .section-services ul li:last-child{
    margin-left: 40px;
  }
  .section-services__video {
    border-radius: 6px;
  }
}

  